server:
  port: 8080 # app will be available under http://localhost:8080/
spring:
  datasource:
    url: 'jdbc:mysql://mysql_database:3306/books'
    driver-class-name: com.mysql.jdbc.Driver
    username: 'books_app'
    password: 'pass'
  jpa: # https://docs.jboss.org/hibernate/orm/current/userguide/html_single/Hibernate_User_Guide.html#configurations-hbmddl
    database-platform: 'org.hibernate.dialect.MySQL8Dialect'
    hibernate:
      ddl-auto: update